.alert.success,
.alert.warning,
.alert.error {
    display: flex;
    position: fixed;
    padding: 1rem;
    border-radius: 6px;
    top: 64px;
    right: 0;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.alert.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
}

.alert.warning {
    color: #084298;
    background-color: #cfe2ff;
    border: 1px solid #b6d4fe;
}

.alert.error {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}

.alert.message {
    width: 50vw;
    padding: 0 8px;
    word-wrap: break-word;
}